.welcome {
    height: 320px;
    border: solid 2px black;
    background-color: lightskyblue;
    background-image: url("../images/Mt_Hood.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-size: XX-large;
}


.form-label {
    color: black;
    font-size: x-large;
    text-align: left;
}

/*Weather Section Styling Start*/
#weather {
    min-height: fit-content;
    border: solid 2px black;
    background-color: lightgrey;
 display: flex;
 flex-wrap: wrap;
 row-gap: 15px;
 column-gap: 5px;
 justify-content: space-around;

}

#hidden {
    visibility: hidden;
}

#forecast-div {
    max-height: 300px;
    max-width: 300px;
    min-width: fit-content;
    border: 2px solid black;
border-radius: 25px;
flex: 1 1 0px; 
}

#forecast-div span {
    margin: 0 0 0 0;
  font-size: x-large;
  word-wrap: normal;
}

.card .card-content ul {
    font-size: auto;
    padding-top: 3px;
    margin: 0;
}

#forecast-div img {
  border-radius: 25px;
  margin-top: 5px;
  max-height: 100px;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto; 
}

#forecast-div li {
    margin: 0;
    padding-top: 0;
}

.card .card-content {
    padding: 0;
}


/*Weather Section Styling End*/


.weather {
    height: 660px;
    border: solid 2px black;
    background-color: lightgrey
}

.breweries {
    height: 660px;
    border: solid 2px black;
    background-color: lightslategray;
}

.form-input {
    border: solid 2px black;
    background-color: white;
}

.list-group {
    list-style-type: none;
    text-align: left;
    display: block;
}

.list-group span {
    display: block;
}

.ski {
    height: 330px;
    border: solid 2px black;
    background-color: lightslategray;
}

.tide {
    height: 330px;
    border: solid 2px black;
    background-color: lightgreen;
}


.reset {
    height: 130px;
    border: solid 2px black;
    background-color: lightsteelblue;
}