
.welcome {
    height: 160px;
    border: solid 2px black;
    background-color: lightskyblue;
}

.weather {
    height: 520px;
    border: solid 2px black;
    background-color: lightgrey
}

.tripCheck {
    height: 520px;
    border: solid 2px black;
    background-color: plum;
}

.ski {
    height: 260px;
    border: solid 2px black;
    background-color: lightslategray;
}

.tide {
    height: 260px;
    border: solid 2px black;
    background-color: lightgreen;
}


.reset {
    height: 130px;
    border: solid 2px black;
    background-color: lightsteelblue;
}

