.welcome {
    height: 320px;
    border: solid 2px black;
    background-color: lightskyblue;
    background-image: url("../images/Mt_Hood.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-size: XX-large;
}

.row {
    margin-bottom: 0px;
}
.form-label {
    color: black;
    font-size: x-large;
    text-align: left;
}

.weather {
    height: 480px;
    border: solid 2px black;
    background-color: lightgrey;
}

.forecast-container {
    justify-content: space-between;
}

#forecast-div {
    margin: 0px 24px 0px 24px;
    text-align: left;
}

.breweries {
    height: 350px;
    border: solid 2px black;
    color: white;
    background-color: lightslategray;
    background-image: url(../images/cheers.jpg);
}

.form-input {
    border: solid 2px black;
    background-color: white;
}

.list-group {
    list-style-type: none;
    text-align: left;
    display: block;
}

.list-group span {
    display: block;
}

.ski {
    height: 350px;
    border: solid 2px black;
    background-color: lightslategray;
}

.surf {
    height: 40%;
    width: 55%;
    font-size: x-large;
    background-image: url(../images/aquarium-icon-16.jpg);
    background-size: contain;
    background-repeat: none;
}

.slope {
    height: 40%;
    width: 55%;
    color: white;
    font-size: x-large;
    background-image: url(../images/skier.png);
    background-size: contain;
    background-repeat: none;
}

.slope a{
    color: black;
    font-weight: bolder;
    background-color: white;
}

.surf a {
    color: black;
    font-weight: bolder;
    background-color: white;
}

.saved-breweries {
    height: 350px;
    border: solid 2px black;
    background-color: rgb(190, 228, 190);
}

.btn-clear {
    margin: 12px 0px 12px 0px;
}

.reset {
    height: 130px;
    border: solid 2px black;
    background-color: lightsteelblue;
}